<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Flask Auth App</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% if session.get('username') %}
                    <li><a href="{{ url_for('painel') }}">Área Restrita</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 202 Flask Auth App. Todos os direitos reservados.</p>
    </footer>
</body>
</html>