<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - teste</title>
</head>
<body>
    <h1 style="color: red;"> Ola, mundo </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, consequuntur exercitationem dolores suscipit perspiciatis tenetur sed provident reprehenderit consequatur quibusdam iusto ex repellendus quam alias consectetur, ipsam quo, quod nisi?</p>
   
    <h2>Hello, {{ nome }} </h2>
    <h3>Hello, {{usuario.nome}} , {{usuario.sobrenome}} </h3>
<a href="{{url_for('contato')}}">pagina de contato</a>

</body>
</html>